@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT Sans/PT_Sans-Web-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT Sans/PT_Sans-Web-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT Sans/PT_Sans-Web-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}